*.fa
*.fasta
*.gff
*.txt
!SRR_accessions.txt
*.ht2
*.bam
*.summary
*.zip
*.log
*.csv
*.gtf
*.Rhistory
*.RData
*.R
*.Rproj
*.Rproj.user
*.fastq
*.fastqc
*.bed
.~lock.selected_files.csv#
.Rproj.user
counts_matrix_folder
identification
ILSolanum
R-analysis
written_files_restructured
norm_lyc_cpms_wo_na
!generate_lyc_cpm.R
!generate_pen_cpm.R
!generate_norm_cpms_wo_na.R
R_introgression_analysis/identify_introgressed_genes/R_objects/
