*.fa
*.fasta
*.gff
*.txt
!SRR_accessions.txt
*.ht2
*.bam
*.summary
*.zip
*.log
*.csv
*.gtf
*.Rhistory
*.RData
*.R
*.Rproj
*.Rproj.user
*.fastq
*.fastqc
*.bed
.~lock.selected_files.csv#
.Rproj.user
counts_matrix_folder
identification
ILSolanum
R-analysis
written_files_restructured